<html ng-app="vizard" ng-controller="loginCtrl" ng-cloak="">

<head>
  <title>vizard - Visual Wizard</title>
  <link rel="stylesheet" href="../support/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../support/font-awesome/css/font-awesome.css">
</head>

<body>
<h1>Hi Hello</h1>
  <script src="../support/jquery_slim.min.js"></script>
  <script src="../support/popper.min.js"></script>
  <script src="../support/bootstrap.min.js"></script>
  <script src="../support/angular.min.js"></script>
  <script src="../javascripts/login.js"></script>
</body>
</html>